body{
    align-content: center;
}

img{
    border-radius:10px; 
    width: 50%;
    height: 70%;
}

.image_section{
    text-align: center;
    padding: 15px;
    display: block;
}

li{
    cursor: pointer;
}
